bodY{
    background: #CCC;
    margin:0px;
    padding:0px;
}

.chessboard{
    display:  inline-block;
}

.black, .white {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.black{
    background: black;
}

.white{
    background: #fff;
}
